#loginPage {
  max-width: 26rem;
  height: 530px;
  border: 1px solid #343a40;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #343a40;
}
.login-header{
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #000000;
}

/*  Login */
input {
  width: 80%;
  margin-bottom: 30px;
  border: 0px;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  font-weight: normal;
}
input:active,
input:focus{
  border-bottom: 2px solid #000000;
}

input:active,
input:focus,
input:visited{
  outline: transparent;
}
.btn-pink{
  background-color: rgb(230,0,126,1);
  color: #fff!important;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
 
}

.btn-pink:hover{
  background-color: rgb(175, 24, 107);
  color: #fff!important;
  border-radius: 5px;
}

/* home */
.home-container{
  margin-top: 2em;
}
.joke-box{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2em;
  width: 60%;

  background: #E0E0E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  padding: 2em;
}
.joke-header{
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;

  color: #000000;
}
.joke-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  white-space: pre-line;
  color: #000000;
}
.btn-text{
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 12px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.btn-box{
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  margin-top: 30px;
}

/* itt legyen az előző vagy a következő vicc */
.navigation-btn{
  cursor: pointer;
}

.hidden {
  visibility:hidden;
}

.btn-primary{
  background-color: rgb(230,0,126,1);
  color: #fff!important;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;

}
.btn-primary:hover{
  background-color: rgb(175, 24, 107);
  color: #fff!important;
  border-radius: 5px;
}

.btn-danger{
  background-color: rgb(209, 23, 54);
  color: #fff!important;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;

}

.btn-secondary{
  background-color: rgb(0, 0, 0);
  color: #fff!important;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;

}

.col-form-label{
  font-family: Paytone One;
}

.modal-title{
  font-family: Paytone One;
}